#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    position: relative;
    animation: flutuando 10s linear infinite;
}

.section-titulo{
    margin-bottom: 100px;
}

.dish h3 {
    font-size: 12px; /* Ajuste conforme necessário */
}





.carousel-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative; /* Adiciona posição relativa para o container */
}

.carousel-container::before,
.carousel-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Largura do gradiente */
    z-index: 2; /* Coloca os pseudo-elementos acima do conteúdo do carrossel */
}

.carousel-container::before {
    left: 0;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.carousel-container::after {
    right: 0;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.carousel-track {
    display: flex;
    width: calc(200% + 40px); /* Duplica a largura total do conteúdo + espaço entre os itens */
    animation: scroll 13s linear infinite;
    position: relative; /* Adiciona posição relativa para o track */
}

.dish {
    margin-right: 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}










.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 5px;
    width: 25%;
    padding: 5px;
    background-color: #cdcdcd;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}


@media screen and (max-width: 1170px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 720px) {
    .dish {
        width: 100%;
        padding: 45px
    }
    .dish h3 {
        font-size: 10px; /* Ajuste conforme necessário */
    }


    .carousel-track {
        display: flex;
        width: calc(200% + 40px); /* Duplica a largura total do conteúdo + espaço entre os itens */
        animation: scroll 3s linear infinite;
        position: relative; /* Adiciona posição relativa para o track */
    }
    

    
}