:root{
    --bg-color: #ececec;
    --second-bg-color: #ffffff;
    --text-color: rgb(3, 35, 94);
    --second-color: rgb(0, 0, 0);
    --main-color: #5e5ba9;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --p-small-font: 0.9rem;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.s-icons i{
    font-size: 36px;
}

.box h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}

.box:hover{
    transform: translateY(-8px);
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 6rem;
}


.row {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    max-width: 800px; /* Definindo a largura máxima do elemento */
    margin-left: auto; /* Margem à esquerda automática */
    margin-right: auto; /* Margem à direita automática */
    user-select: none; /* Impede a seleção de texto com o mouse */
}





.row img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do elemento pai */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do elemento pai */
    width: auto; /* Mantém a proporção original da imagem */
    height: auto; /* Mantém a proporção original da imagem */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}


.layer{
    width: 100%;
    height: 0%;
    background: var(--main-color);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: var(--second-color);
    font-size: var(--p-small-font);
    line-height: 1.8;
}

.main-text .titulo2 {
    font-size: 2rem;
    color: #5e5ba9; /* Altera a cor para amarelo (#e9a209) */
    text-align: center; /* Centraliza o texto */
}


.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}



@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }

    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
}

@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2rem;
        --p-font: 0.9rem;
        transition: .1s;
    }

    .home-text h3{
        font-size: 1.6rem;
    }

    .home{
        height: 87vh;
    }

    .about-text h4{
        font-size: var(--p-small-font)
    }
}

@media (max-width: 920px){

    .about{
        grid-template-columns: 1fr;   
    }

    .about-img{
        display: none;
    }

    .about-text{
        text-align: center;
    }
}

@media (max-width: 800px){

    #menu-icon{
        display: block;
    }

    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: center;
        justify-content: center;
        transition: all .45s ease;
    }

    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a:hover{
        color: var(--main-color);
    }

    .navlist.open{
        top: 100%
    }

    .home{
        position: relative;
        height: 87vh;
        width: 100%;
        background-image: url(../img/background.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .btn{
        font-size: 0.7rem;
    }

    .socials{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin:0;
    }

    .text-box{
        width: 100%;
    }

    .container img{
        display: none;
    }

    .home{
        height: 100vh;
    }

    #top{
        position: fixed;
        bottom: 0;
        padding: auto;
        margin: 0 0 5em 1rem;
    }

    .home-text p{
        color: var(--second-color);
        font-size: var(--p-font);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .link{
        color: rgb(0, 0, 0);
        transition: .5s;
    }
    
    .link:hover{
        transition: .5s;
        color: #e4ab32;
    }



    
    
}